@import "_variables";


.navbar{
    background-color: $colorprincipal !important;
    ul li{
        font-size: 27px;
    }
}

.titulonoti{
    
    background-color: $colorsecundario;
    height: 90px;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    h3{
        font-size: 30px ;
    }
}

.contacto{
  
    background-color: $colorsecundario;
    height: 90px;
    text-transform: uppercase;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    h3{
        font-size: 30px;
    }
}
.footer{
    background-color: black;
    ul{
        list-style: none;
    text-decoration: none;
    }
    li{
        line-height: 30px; 
    }
    a{
        text-decoration:  none;
    color: $colorBlanco;
    }
}
.derechos{
    color: $colorBlanco;
    font-size: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contactofooter{
    ul{
        list-style: none;
    }
    li{
        line-height: 30px;
        color: $colorBlanco;
    }
}

.mainc{
    width: 100%;
    height: 700px;
    background-image: url(../img/campo.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-direction: column
    
}
.contac{
    color: $colorBlanco;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.formu{
    background: rgba(0, 0, 0, 0.4);
    margin: auto;
    padding: 50px;
    border-radius: 7px;
    
    input{
        margin: 10px;
        padding: 10px;
    }
    textarea{
        margin: 10px;
        padding: 10px;
    }
    
}
.Boton1{
    font-size: 17px;
}
.Boton1:hover{
    cursor: pointer;
}
.form1{
    color: $colorBlanco;
    list-style: none;
    text-decoration: none;
    h4{
        color: #000000;
    }
}
.mainclientes{
    width: 100%;
    height: 700px;
    background-image: url("../img/campo\ 3.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-direction: column
}

.cajaempr{
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    line-height: 50px;
    border: solid;
    -webkit-box-shadow: 8px 7px 6px -2px rgba(0,0,0,0.17); 
        box-shadow: 8px 7px 6px -2px rgba(0,0,0,0.17);
    h2{
        font-size: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    }
    .imgposte3{
        border: solid;
        -webkit-box-shadow: 8px 7px 6px -2px rgba(0,0,0,0.17); 
            box-shadow: 8px 7px 6px -2px rgba(0,0,0,0.17);
    }
    .Otrocolor{
        color: $colorprincipal;
        font-size: 40px;
    }
    .titulonosotros{
        font-size: 40px;
    }
    
    .tarjeta{
        text-align: center;
            border: 1px solid;
            border-radius: 10px 10px 10px 10px;
            border-radius:10px;
            padding: 10px 10px 10px 10px;
            box-sizing: border-box;
            margin: 10px;
            
    }
    .tarjeta:hover{
        -webkit-box-shadow: 8px 7px 6px -2px rgba(0,0,0,0.17); 
        box-shadow: 8px 7px 6px -2px rgba(0,0,0,0.17);
        
    }