.container-fluid {
  padding: 0;
}

.navbar {
  background-color: #f56319 !important;
}

.navbar ul li {
  font-size: 27px;
}

.titulonoti {
  background-color: #F58F20;
  height: 90px;
  font-style: normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulonoti h3 {
  font-size: 30px;
}

.contacto {
  background-color: #F58F20;
  height: 90px;
  text-transform: uppercase;
  font-style: normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contacto h3 {
  font-size: 30px;
}

.footer {
  background-color: black;
}

.footer ul {
  list-style: none;
  text-decoration: none;
}

.footer li {
  line-height: 30px;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

.derechos {
  color: #fff;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contactofooter ul {
  list-style: none;
}

.contactofooter li {
  line-height: 30px;
  color: #fff;
}

.mainc {
  width: 100%;
  height: 700px;
  background-image: url(../img/campo.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contac {
  color: #fff;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formu {
  background: rgba(0, 0, 0, 0.4);
  margin: auto;
  padding: 50px;
  border-radius: 7px;
}

.formu input {
  margin: 10px;
  padding: 10px;
}

.formu textarea {
  margin: 10px;
  padding: 10px;
}

.Boton1 {
  font-size: 17px;
}

.Boton1:hover {
  cursor: pointer;
}

.form1 {
  color: #fff;
  list-style: none;
  text-decoration: none;
}
